* {
  box-sizing: border-box;
}

.container {
  width: 80vw;
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  color: #262626;
  font-family: "Proxima Nova Light", sans-serif;
}

.button-o {
  border-width: 2px;
  border-color: #507fe1;
  border-style: solid;
  background-color: transparent;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #507fe1;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.button {
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #507fe1;
  color: #fff;
  font-family: "Proxima Nova Semibold", sans-serif;
}

@media (max-width: 799px) {
  .button-o {
    margin-left: auto;
    padding: 10px;
  }
}
@media (max-width: 479px) {
  .button-o, button {
    font-size: 10px;
    padding: 10px 12px;
  }
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  height: 80px;
}
.navbar__menu-button {
  margin-right: 30px;
}
.navbar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.navbar__mobile, .navbar__landline {
  text-align: right;
}
.navbar__phone {
  display: block;
  font-size: 19px;
  font-family: "Proxima Nova Semibold", sans-serif;
  text-decoration: none;
  color: #262626;
}
.navbar__smalltext {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #6b6b6b;
}

@media (max-width: 1199px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}
@media (max-width: 799px) {
  .navbar-wrap {
    height: 60px;
  }
}
.menu {
  position: fixed;
  z-index: -1;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  color: #fff;
  transition: 0.2s;
  transform: translateY(-200%);
  opacity: 0;
}
.menu__active {
  transform: translateY(0%);
  opacity: 1;
}
.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}
.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 100%;
  width: 70px;
}
.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #507fe1;
  margin-bottom: 5px;
}

@media (max-width: 1199px) {
  .menu__nav {
    flex-direction: column;
  }
  .menu__link {
    margin-top: 20px;
  }
}
.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}

@media (max-width: 799px) {
  .menu {
    top: 60px;
  }
  .logo {
    display: none;
  }
}
.hero {
  background: #f1f1f1 url("../img/hero.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  color: #fff;
}
.hero__titel {
  font-size: 30px;
  margin-bottom: 40px;
  white-space: nowrap;
}
.hero__subtitel {
  display: block;
  margin-bottom: 60px;
  font-size: 30px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

@media (max-width: 799px) {
  .hero {
    padding-bottom: 170px;
  }
}/*# sourceMappingURL=style.css.map */